body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:grey;
    text-align: center;
}

.container{
    margin-top: 100px;
    background-color: white;
    padding: 30px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
   
    }
